--
-- PostgreSQL database dump
--

\restrict 9OcA3WRY6dMqHjUldGhPaBjRUxAd2DkhT8KkDwMhaPGqUBffFVuY2WLz0AgrH9o

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: audit_action; Type: TYPE; Schema: public; Owner: credit_user
--

CREATE TYPE public.audit_action AS ENUM (
    'loan_application_submitted',
    'loan_decision_approved',
    'loan_decision_rejected',
    'loan_decision_manual_review',
    'document_uploaded',
    'document_verified',
    'document_rejected',
    'document_deleted'
);


ALTER TYPE public.audit_action OWNER TO credit_user;

--
-- Name: audit_resource_type; Type: TYPE; Schema: public; Owner: credit_user
--

CREATE TYPE public.audit_resource_type AS ENUM (
    'loan_application',
    'document'
);


ALTER TYPE public.audit_resource_type OWNER TO credit_user;

--
-- Name: document_status; Type: TYPE; Schema: public; Owner: credit_user
--

CREATE TYPE public.document_status AS ENUM (
    'uploaded',
    'ocr_failed',
    'verified',
    'rejected'
);


ALTER TYPE public.document_status OWNER TO credit_user;

--
-- Name: document_type; Type: TYPE; Schema: public; Owner: credit_user
--

CREATE TYPE public.document_type AS ENUM (
    'id_proof',
    'income_proof',
    'bank_statement'
);


ALTER TYPE public.document_type OWNER TO credit_user;

--
-- Name: employment_status; Type: TYPE; Schema: public; Owner: credit_user
--

CREATE TYPE public.employment_status AS ENUM (
    'employed',
    'self_employed',
    'unemployed',
    'student'
);


ALTER TYPE public.employment_status OWNER TO credit_user;

--
-- Name: final_decision; Type: TYPE; Schema: public; Owner: credit_user
--

CREATE TYPE public.final_decision AS ENUM (
    'approved',
    'rejected'
);


ALTER TYPE public.final_decision OWNER TO credit_user;

--
-- Name: loan_purpose; Type: TYPE; Schema: public; Owner: credit_user
--

CREATE TYPE public.loan_purpose AS ENUM (
    'personal',
    'auto',
    'education',
    'business',
    'home'
);


ALTER TYPE public.loan_purpose OWNER TO credit_user;

--
-- Name: loan_status; Type: TYPE; Schema: public; Owner: credit_user
--

CREATE TYPE public.loan_status AS ENUM (
    'submitted',
    'scored',
    'approved',
    'rejected',
    'manual_review'
);


ALTER TYPE public.loan_status OWNER TO credit_user;

--
-- Name: recommendation; Type: TYPE; Schema: public; Owner: credit_user
--

CREATE TYPE public.recommendation AS ENUM (
    'approved',
    'review',
    'reject'
);


ALTER TYPE public.recommendation OWNER TO credit_user;

--
-- Name: risk_category; Type: TYPE; Schema: public; Owner: credit_user
--

CREATE TYPE public.risk_category AS ENUM (
    'low',
    'medium',
    'high'
);


ALTER TYPE public.risk_category OWNER TO credit_user;

--
-- Name: user_role; Type: TYPE; Schema: public; Owner: credit_user
--

CREATE TYPE public.user_role AS ENUM (
    'applicant',
    'staff',
    'admin'
);


ALTER TYPE public.user_role OWNER TO credit_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: credit_user
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO credit_user;

--
-- Name: applicants; Type: TABLE; Schema: public; Owner: credit_user
--

CREATE TABLE public.applicants (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    full_name character varying(255) NOT NULL,
    date_of_birth date NOT NULL,
    annual_income numeric(14,2) NOT NULL,
    employment_status public.employment_status NOT NULL,
    existing_debt numeric(14,2) DEFAULT '0'::numeric NOT NULL,
    credit_history_years integer DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.applicants OWNER TO credit_user;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: credit_user
--

CREATE TABLE public.audit_logs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    actor_id uuid,
    action public.audit_action NOT NULL,
    resource_type public.audit_resource_type NOT NULL,
    resource_id uuid,
    details json,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.audit_logs OWNER TO credit_user;

--
-- Name: documents; Type: TABLE; Schema: public; Owner: credit_user
--

CREATE TABLE public.documents (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    loan_application_id uuid NOT NULL,
    document_type public.document_type NOT NULL,
    original_filename character varying(255) NOT NULL,
    stored_filename character varying(255) NOT NULL,
    mime_type character varying(100) NOT NULL,
    file_size_bytes integer NOT NULL,
    file_hash character varying(64) NOT NULL,
    status public.document_status DEFAULT 'uploaded'::public.document_status NOT NULL,
    ocr_raw_text text,
    ocr_extracted_fields json,
    ocr_confidence double precision,
    ocr_error_message character varying(500),
    ocr_processed_at timestamp with time zone,
    uploaded_by uuid NOT NULL,
    uploaded_at timestamp with time zone DEFAULT now() NOT NULL,
    verified_by uuid,
    verified_at timestamp with time zone,
    verification_notes text
);


ALTER TABLE public.documents OWNER TO credit_user;

--
-- Name: loan_applications; Type: TABLE; Schema: public; Owner: credit_user
--

CREATE TABLE public.loan_applications (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    applicant_id uuid NOT NULL,
    loan_amount numeric(14,2) NOT NULL,
    loan_purpose public.loan_purpose NOT NULL,
    loan_tenure_months integer NOT NULL,
    status public.loan_status DEFAULT 'submitted'::public.loan_status NOT NULL,
    submitted_at timestamp with time zone DEFAULT now() NOT NULL,
    risk_score integer,
    risk_category public.risk_category,
    recommendation public.recommendation,
    prediction_timestamp timestamp with time zone,
    model_version character varying(50),
    top_risk_factors json,
    reviewer_id uuid,
    reviewed_at timestamp with time zone,
    review_notes text,
    final_decision public.final_decision
);


ALTER TABLE public.loan_applications OWNER TO credit_user;

--
-- Name: users; Type: TABLE; Schema: public; Owner: credit_user
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    full_name character varying(255) NOT NULL,
    role public.user_role DEFAULT 'applicant'::public.user_role NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO credit_user;

--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: credit_user
--

COPY public.alembic_version (version_num) FROM stdin;
0006
\.


--
-- Data for Name: applicants; Type: TABLE DATA; Schema: public; Owner: credit_user
--

COPY public.applicants (id, user_id, full_name, date_of_birth, annual_income, employment_status, existing_debt, credit_history_years, created_at, updated_at) FROM stdin;
c25ebfee-8d36-4180-b613-9893e84b5bb9	80dc4956-edcb-48dc-b1a7-6b79d9049677	akshita	2004-10-29	1000000.00	employed	0.00	0	2026-08-15 06:29:24.163181+00	2026-08-15 06:29:24.163181+00
d30b4ae8-6930-492a-a8d2-2891633f7b14	0b0b3e9d-c3ad-4a3a-9396-774d1e156646	Akshita Rabya	2004-10-29	100000.00	student	0.00	1	2026-08-15 11:02:20.693861+00	2026-08-15 11:02:20.693861+00
\.


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: credit_user
--



--
-- Data for Name: documents; Type: TABLE DATA; Schema: public; Owner: credit_user
--



--
-- Data for Name: loan_applications; Type: TABLE DATA; Schema: public; Owner: credit_user
--

COPY public.loan_applications (id, applicant_id, loan_amount, loan_purpose, loan_tenure_months, status, submitted_at, risk_score, risk_category, recommendation, prediction_timestamp, model_version, top_risk_factors, reviewer_id, reviewed_at, review_notes, final_decision) FROM stdin;
5da399df-2c22-4545-b859-6ceb15af1351	d30b4ae8-6930-492a-a8d2-2891633f7b14	10000.00	personal	12	submitted	2026-08-15 11:02:20.734476+00	\N	\N	\N	\N	\N	\N	\N	\N	\N	\N
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: credit_user
--



--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: credit_user
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: applicants applicants_pkey; Type: CONSTRAINT; Schema: public; Owner: credit_user
--

ALTER TABLE ONLY public.applicants
    ADD CONSTRAINT applicants_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: credit_user
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: documents documents_pkey; Type: CONSTRAINT; Schema: public; Owner: credit_user
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_pkey PRIMARY KEY (id);


--
-- Name: loan_applications loan_applications_pkey; Type: CONSTRAINT; Schema: public; Owner: credit_user
--

ALTER TABLE ONLY public.loan_applications
    ADD CONSTRAINT loan_applications_pkey PRIMARY KEY (id);


--
-- Name: documents uq_document_loan_type; Type: CONSTRAINT; Schema: public; Owner: credit_user
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT uq_document_loan_type UNIQUE (loan_application_id, document_type);


--
-- Name: documents uq_documents_stored_filename; Type: CONSTRAINT; Schema: public; Owner: credit_user
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT uq_documents_stored_filename UNIQUE (stored_filename);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: credit_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_applicants_user_id; Type: INDEX; Schema: public; Owner: credit_user
--

CREATE UNIQUE INDEX ix_applicants_user_id ON public.applicants USING btree (user_id);


--
-- Name: ix_audit_logs_action; Type: INDEX; Schema: public; Owner: credit_user
--

CREATE INDEX ix_audit_logs_action ON public.audit_logs USING btree (action);


--
-- Name: ix_audit_logs_actor_id; Type: INDEX; Schema: public; Owner: credit_user
--

CREATE INDEX ix_audit_logs_actor_id ON public.audit_logs USING btree (actor_id);


--
-- Name: ix_audit_logs_created_at; Type: INDEX; Schema: public; Owner: credit_user
--

CREATE INDEX ix_audit_logs_created_at ON public.audit_logs USING btree (created_at);


--
-- Name: ix_audit_logs_resource_id; Type: INDEX; Schema: public; Owner: credit_user
--

CREATE INDEX ix_audit_logs_resource_id ON public.audit_logs USING btree (resource_id);


--
-- Name: ix_audit_logs_resource_type; Type: INDEX; Schema: public; Owner: credit_user
--

CREATE INDEX ix_audit_logs_resource_type ON public.audit_logs USING btree (resource_type);


--
-- Name: ix_documents_loan_application_id; Type: INDEX; Schema: public; Owner: credit_user
--

CREATE INDEX ix_documents_loan_application_id ON public.documents USING btree (loan_application_id);


--
-- Name: ix_documents_status; Type: INDEX; Schema: public; Owner: credit_user
--

CREATE INDEX ix_documents_status ON public.documents USING btree (status);


--
-- Name: ix_loan_applications_applicant_id; Type: INDEX; Schema: public; Owner: credit_user
--

CREATE INDEX ix_loan_applications_applicant_id ON public.loan_applications USING btree (applicant_id);


--
-- Name: ix_loan_applications_final_decision; Type: INDEX; Schema: public; Owner: credit_user
--

CREATE INDEX ix_loan_applications_final_decision ON public.loan_applications USING btree (final_decision);


--
-- Name: ix_loan_applications_reviewer_id; Type: INDEX; Schema: public; Owner: credit_user
--

CREATE INDEX ix_loan_applications_reviewer_id ON public.loan_applications USING btree (reviewer_id);


--
-- Name: ix_loan_applications_risk_category; Type: INDEX; Schema: public; Owner: credit_user
--

CREATE INDEX ix_loan_applications_risk_category ON public.loan_applications USING btree (risk_category);


--
-- Name: ix_loan_applications_status; Type: INDEX; Schema: public; Owner: credit_user
--

CREATE INDEX ix_loan_applications_status ON public.loan_applications USING btree (status);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: credit_user
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: applicants fk_applicants_user_id; Type: FK CONSTRAINT; Schema: public; Owner: credit_user
--

ALTER TABLE ONLY public.applicants
    ADD CONSTRAINT fk_applicants_user_id FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: audit_logs fk_audit_logs_actor_id; Type: FK CONSTRAINT; Schema: public; Owner: credit_user
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT fk_audit_logs_actor_id FOREIGN KEY (actor_id) REFERENCES public.users(id);


--
-- Name: documents fk_documents_loan_application_id; Type: FK CONSTRAINT; Schema: public; Owner: credit_user
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT fk_documents_loan_application_id FOREIGN KEY (loan_application_id) REFERENCES public.loan_applications(id);


--
-- Name: documents fk_documents_uploaded_by; Type: FK CONSTRAINT; Schema: public; Owner: credit_user
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT fk_documents_uploaded_by FOREIGN KEY (uploaded_by) REFERENCES public.users(id);


--
-- Name: documents fk_documents_verified_by; Type: FK CONSTRAINT; Schema: public; Owner: credit_user
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT fk_documents_verified_by FOREIGN KEY (verified_by) REFERENCES public.users(id);


--
-- Name: loan_applications fk_loan_applications_applicant_id; Type: FK CONSTRAINT; Schema: public; Owner: credit_user
--

ALTER TABLE ONLY public.loan_applications
    ADD CONSTRAINT fk_loan_applications_applicant_id FOREIGN KEY (applicant_id) REFERENCES public.applicants(id);


--
-- Name: loan_applications fk_loan_applications_reviewer_id; Type: FK CONSTRAINT; Schema: public; Owner: credit_user
--

ALTER TABLE ONLY public.loan_applications
    ADD CONSTRAINT fk_loan_applications_reviewer_id FOREIGN KEY (reviewer_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 9OcA3WRY6dMqHjUldGhPaBjRUxAd2DkhT8KkDwMhaPGqUBffFVuY2WLz0AgrH9o

